 
   
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
   
   /*********************************/
  /***********1.GLOBAL CSS*********/
 /********************************/
 /* Default CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, span, video {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   background: transparent;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
button{
  outline: none !important;
}
input
{
    outline:none !important;
}

h1,h2,h3,h4,h5,h6,p{
  margin:0;
  padding:0;
}
input, button, textarea, select{
  outline: none;
}
.btn.focus, .btn:focus {
  outline: none;
  box-shadow: none !important;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
a{
  margin:0;
  padding:0;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #283562;
  overflow: hidden;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
img{
  width: 100%;
  height: auto;
}

p{
  color: #181930; 
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.section_padding{
  padding: 126px 0;
}

.section_title{
  color: #3FBFF3; 
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 32px;
  line-height: 135.938%; /* 87px */
}


   /*********************************/
  /***********HEADER CSS**********/
 /********************************/

.logo a img {
	width: 88px;
}

.header_area {
	padding: 25px 0;
}

.menu ul li a {
	color: #181930; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  transition: 0.3s;
}

.menu ul li a:hover{
  color: #000;
}

.menu ul {
	display: flex;
	justify-content: space-between;
}


   /*********************************/
  /***********BANNER CSS**********/
 /********************************/


 .banner_area {
	background: linear-gradient(109deg, #576F86 -22.58%, #CEE6F1 112.29%);
	padding: 200px 0 227px 0;
  position: relative;
}

.banner {
	position: relative;
	z-index: 9999999;
}

.banner H2 {
	color: #FFF; 
	font-size: 72px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

.banner P {
	max-width: 360px;
	color: #FFF; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 165%;
	width: 100%;
  margin: 46px 0 32px 0;
}

.btn_1 {
	color: #FFF;
	text-align: center; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	background: #3FBFF3;
	box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.15);
	padding: 12px 24px;
	display: inline-block;
  transition: 0.3s;
} 

.btn_2 {
	color: #FFF;
	text-align: center; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	border: 1px solid #FFF;
	padding: 12px 24px;
	display: inline-block;
  transition: 0.3s;
}

.btn_1:hover,
.btn_2:hover{
  opacity: 0.83;
	color: #FFF;
}

.banner_btn {
	display: flex;
	gap: 35px;
	margin-bottom: 46px;
}

.banner_social ul li a img {
	width: 24px;
  transition: 0.3s;
}

.banner_social ul li a:hover img{
  transform: scale(1.2);
}

.banner_social ul {
	display: flex;
	gap: 20px;
}

.banner_item img {
	width: 100% !important;
}

.banner_carousel {
	position: absolute;
	z-index: 99;
	bottom: 0;
	right: 0;
	width: 70%;
}

.banner_item {
	width: 90%;
	margin: 0 0 0 auto;
}



/*********************************/
/*********** ABOUT CSS**********/
/********************************/

.about_left p {
	margin-bottom: 15px;
}

.about_title h4 {
	color: #181930; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: uppercase;
}

.about_title {
	border-bottom: 1px solid #3FBFF3;
	margin-bottom: 24px;
	padding-bottom: 10px;
}

.about_skill ul li img { 
	width: 24px;
}

.about_university h3 {
	color: #181930; 
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}

.about_university span {
	color: #C3D2D9; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.about_university{
  margin-bottom: 36px;
}

.about_skill ul li {
	display: flex;
	gap: 12px;
	align-items: center;
	margin-bottom: 19px;
}


/*********************************/
/*********** EXPERIENCE CSS**********/
/********************************/

.experience_area {
	padding: 84px 0 96px 0;
} 

.ex_btn_cont h4 {
	color: #C3D2D9; 
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
}

.ex_btn_cont span,
.ex_btn_cont p {
	color: #C3D2D9; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
}

.ex_btn {
	background: transparent;
	border: none;
	text-align: left;
	margin-bottom: 32px;
	position: relative;
	display: flex;
	align-items: center;
	gap: 20px;
}

.ex_btn.active .ex_btn_cont span,
.ex_btn.active .ex_btn_cont h4,
.ex_btn.active .ex_btn_cont p{
  color: #181930;; 
}

.ex_btn.active > span {
	background: #3FBFF3;
	position: relative;
	z-index: 99;
}

.experiance_button{ 
  position: relative;
}

.experiance_button::after {
	content: '';
	position: absolute;
	left: 11px;
	top: 43px;
	width: 2px;
	height: 85%;
	z-index: 9;
	background-color: #C3D1D9;
}

.ex_btn > span {
	display: inline-block;
	background: #C3D2D9;
	width: 16px;
	height: 16px;
	border-radius: 100%;
}

.experience_content {
	border-radius: 0px 8px 8px 0px;
	background: #181930;
	box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.15);
	padding: 84px 100px;
	height: 100%;
	position: relative;
}

.experience_content h2 {
	color: #FFF; 
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}
 
.ex_dept h4 {
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
  margin-bottom: 6px;
}

.ex_dept p {
	color: #FFF; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.ex_time p {
	color: #464763; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.ex_cont_box {
	display: flex;
	justify-content: space-between;
  padding-bottom: 27px;
  border-bottom: 1px solid #3FBFF3;
}

.ex_main_content {
	padding: 36px 0;
}

.ex_main_content p {
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
	margin-bottom: 16px;
}

.ex_next_btn {
	text-align: right;
}

.next_ex {
	color: #FFF;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
	letter-spacing: 1.2px;
	background: transparent;
	border: none;
	position: absolute;
	right: 100px;
	bottom: 84px;
}

.ex_cont_id_1,
.ex_cont_id_2,
.ex_cont_id_3,
.ex_cont_id_4,
.ex_cont_id_5,
.ex_cont_id_6 {
  display: none;
}

.experience_content.active{
  display: block;
}

.experience_area{
  overflow: hidden;
}

.experience {
	padding-top: 84px;
	border-top: 1px solid #3FBFF3;
}

.ex_main_content a {
	color: #3FBFF3; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
	text-decoration-line: underline;
}

/*********************************/
/*********** ASSETS CSS**********/
/********************************/ 

.asset_header h4 {
	color: #181930; 
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: uppercase;
  	margin-bottom: 16px;
}

.asset_item h3 {
	color: #181930; 
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
}

.asset_header {
	border-bottom: 1px solid #3FBFF3;
}

.asset_item {
	margin-top: 41px;
} 



/*********************************/
/*********** AWARDS CSS**********/
/********************************/

 

.section_title_awars h3 {
	color: #181930;
	text-align: center; 
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 135.938%;
	text-transform: uppercase;
	padding-bottom: 24px;
}

.single_awards img {
	width: 48px !important;
	margin-bottom: 24px;
}

.single_awards {
	border-radius: 8px;
	background: #181930;
	box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.15);
	padding: 36px 60px;
	box-sizing: border-box;
	/* height: 200px; */
	overflow: hidden;
	transition: 0.5s;
	height: auto !important;
}

.single_main_awards{
	height: 100% !important;
	background-color: red;
}

.awards_carousel{ 
	padding: 92px 0;
}

.single_awards_header {
	height: 162px;
}

/* .single_awards:hover{
	height: 100%; 
} */

.single_awards h4 {
	color: #FFF; 
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	margin-bottom: 30px;
}

.awars_info span {
	color: #717386;
}

.awars_info p {
	margin-top: 30px;
	color: #cacaca;
}

.awards_box {
	border-top: 1px solid #3FBFF3;
	border-bottom: 1px solid #3FBFF3;
	padding: 92px 0;
	height: 788px;
} 



/*********************************/
/*********** FEATURE CSS**********/
/********************************/

.single_feature_item img {
	width: 100% !important;
}

.single_feature_item h4 {
	color: #181930; 
	font-size: 21px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
	margin: 30px 0 24px 0;
}

.single_feature_item p { 
	line-height: 150%;
	margin-bottom: 24px;
}

.feature_box{
	position: relative;
}

.single_feature_item a {
	color: #3FBFF3; 
	font-size: 15.397px;
	font-style: normal;
	font-weight: 600;
	line-height: 140.625%;
	text-decoration-line: underline;
}

.section_title_feature {
	margin-bottom: 60px;
}

.feature_box .owl-prev {
	position: absolute;
	left: 0;
	bottom: -70px;
}
 
.feature_box .owl-next {
	position: absolute;
	right: 0;
	bottom: -70px;
}
 
.feature_box .owl-theme .owl-nav [class*="owl-"]:hover {
	background: transparent; 
}

.feature_navs { 
	display: flex;
	align-items: center;
	gap: 12px;
}

/*********************************/
/*********** GALLERY CSS**********/
/********************************/

.single_gallery_item {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.gallery_box {
	padding-top: 71px;
	border-top: 1px solid #3FBFF3;
	padding: 71px 60px 0 60px;
}


.gallery_carousel{
	position: relative;
}

.gallery_area {
	padding-bottom: 142px;
} 

.gallery_carousel .owl-prev {
	width: 32px;
	height: 32px;
	background: #000 !important;
	border-radius: 100% !important;
	position: absolute;
	left: -54px;
	top: 43%;
}

.gallery_carousel .owl-next {
	width: 32px;
	height: 32px;
	background: #000 !important;  
	border-radius: 100% !important;
	position: absolute;
	right: -54px;
	top: 43%;
}


.gallery_carousel .owl-prev i,
.gallery_carousel .owl-next i {
	color: #fff !important; 
} 

.gallery_overly {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: rgba(0,0,0,0.8);
	box-shadow: 0px 12px 48px 0px rgba(0, 0, 0, 0.15); 
	left: 0;
	top: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}

.single_gallery_item:hover .gallery_overly{ 
	top: 0;
}

.gallery_overly p {
	color: #FFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	max-width: 196px;
	width: 100%;
}


/*********************************/
/*********** TESTIMONIAL CSS**********/
/********************************/

.testi_header img {
	width: 60px;
}

.testi_name h3 {
	color: #181930; 
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 140.625%;
}

.testi_designation h5 {
	color: #181930; 
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 140.625%;
	flex: 0 0 100px;
}

.testi_designation ul li p {
	color: #181930; 
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 140.625%;
	position: relative;
}

.testi_designation ul li p::after {
	content: '';
	position: absolute;
	width: 4px;
	height: 5px;
	background-color: #181930;
	z-index: 9;
	top: 5px;
	left: -11px;
	border-radius: 100%;
}

.testi_single_item > p {
	color: #181930; 
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 165%;
	margin-top: 24px;
}

.testi_header {
	display: flex;
	align-items: center;
	gap: 22px;
	padding-bottom: 34px;
	border-bottom: 1px solid #3FBFF3;
}

.testi_designation {
	display: flex;
	align-items: flex-start;
}

.testimonial_area{
	margin-bottom: 174px;
}

/*********************************/
/*********** FOOTER CSS**********/
/********************************/

.footer_area {
	background: #181930;
	padding-top: 126px;
}

.footer_header > p {
	color: #FFF; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 1.6px;
	display: flex;
	gap: 16px;
	align-items: center;
}

.footer_header p i {
	color: #3FBFF3;
	font-size: 24px;
}

.footer_mail_a {
	color: #FFF; 
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 140.625%;
}

.footer_mail_a:hover{
	color: #fff;
}

.footer_mail {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 24px 0 51px 0;
}

.single_footer_item a img {
	width: 86px;
}

.footer_logo_p{
	color: #FFF; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	max-width: 258px;
	width: 100%;
	margin-top: 16px;
}

.single_footer_item h4 {
	color: #FFF; 
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140.625%;
	text-transform: uppercase;
	margin-bottom: 36px;
}

.single_footer_item ul li a {
	color: #FFF; 
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	margin-bottom: 12px;
	display: inline-block;
}

.footer_social {
	display: flex;
	gap: 24px;
}

.footer_social li a i {
	font-size: 24px;
}

.footer_mail .btn_1 { 
	padding: 16px 48px; 
}

.footer_box {
	padding: 52px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.copy_right_footer p {
	color: #FFF; 
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 140.625%;
}

.copy_right_footer ul li a {
	color: #FFF; 
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 140.625%;
}

.copy_right_footer ul {
	display: flex;
	gap: 90px;
	align-items: center;
}

.copy_right_footer {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 45px;
	align-items: center;
}





/* Responsive Mobile  */

.mobile_bars{
	display: none;
}